body {
background-color: #000000;
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
text-align: center;}
.wrapper {
width: 720px;
margin: 0px auto;}
.left {
    text-align: left;
    font-size: large;
}
.left_nosize {
    text-align: left;
}
a:link {
    color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
