<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOADING SCREEN</title>
    <link href="static/pow_shield/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body id="backdrop" style="background-image: url('/static/assets/wallpapers/placeholder.png'); background-position: center center fixed; background-size: cover;">
    <h1 style="background-color: rgb(255, 0, 0);">ANOTHER OPEN-SOURCE POW SHIELD!!!!</h1>
    <h1 id="splash" style="background-color: rgb(255, 0, 0);"></h1>
  </body>

<script src="{{ url_for('static', filename='pow_shield/client_solver.js') }}"></script>
</html>
